@font-face {
    font-family: hanken-grotesk;
    src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

body {
    font-family: hanken-grotesk;
    width: 100%;
    margin: 0;
}

p {
    margin: 0;
}

.left-container {
    display:inline-block;
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    width: 100%;
    max-height: 770px;
    text-align: center;
    border-radius: 0 0 15px 15px;
}

.left-header {
    color:hsl(241, 100%, 89%);
    font-weight: 700;
    font-size: 20px;
    padding: 6%
}

.circle-container {
    max-width: 30%;
    margin: 0 auto 0 auto;
}

.left-circle {
    border-radius: 50%;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    height: 0;
    padding-bottom: 100%;
    display:flex;
    align-items:center;
}

.left-score-container {
    margin: 35% auto 0 auto;
    display: inline-block;
    max-width: 80%;
    max-height: 80%;
} 


.left-score {
    color: white;
    font-weight: 800;
    font-size: 15vw;
    line-height: 1;
}

.left-max-score {
    color: hsl(241, 100%, 89%);
    max-width: 100%;
    font-size: 15px;
    line-height:1
}

.praise {
    color: white;
    font-weight: 500;
    margin: 6% 12% 10% 12%;
    font-size: 25px
}

.comment {
    color: hsl(241, 100%, 89%);
    margin: 10% 12%
}

.right-container {
    width: 100%;
    margin-top: 20px;
}

.right-header {
    color: hsl(224, 30%, 27%);
    font-weight: 700;
    font-size: 20px;
    margin: 0 8% 5% 8%
}

.category {
    font-weight:700;
    border-radius: 15px;
    margin: 4% 8%;
    padding: 16px;
}


span {
    margin: auto 0
}

svg {
    vertical-align: bottom;
}

.right-score-container {
    color:hsl(224, 30%, 27%);
    position:relative;
    float:right;
}

.category-score-total {
    color: hsl(224, 30%, 27%)
}

.reaction {
    color: hsl(0, 100%, 67%);
    background-color: rgb(255, 246, 245);
}

.memory {
    color: hsl(39, 100%, 56%);
    background-color:rgb(255, 251, 242);
}

.verbal {
    color: hsl(166, 100%, 37%);
    background-color: rgb(242, 250, 250);
}

.visual {
    color: hsl(234, 85%, 45%);
    background-color: rgb(241, 243, 254);
}



button {
    border-radius: 30px;
    border: none;
    color:white;
    background-color: hsl(224, 30%, 27%);
    font-weight: 600;
    font-size: 16px;
    margin: 4% 8%;
    padding: 20px;
    width: 85%
}

button:hover {
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
}

@media only screen and (min-width:752px) {
    main {
        width: fit-content;
        border-radius: 15px;
        box-shadow: 1rem 1rem 1rem hsl(221, 100%, 96%);
        margin: 0 auto 0 auto;
        margin-top: calc(50vh - 250px);
    }

    .category {
        font-weight:700;
        border-radius: 15px;
        margin: 7% 8%;
        padding: 16px;
    }

    .left-container {
        height:100%;
        border-radius: 15px;
        max-width: 375px
    }

    .left-text {
        margin: 0 15%
    }

    .right-container {
        width: 375px;
        height: 500px;
        position:relative;
        float:right;
    }

    .circle-container {
        width: 60%;
        max-width: 60%;
        margin: 5% auto 5% auto
    }

    .left-header {
        padding: 8%
    }
    .left-score {
        font-size: 95px;
    }

    .left-max-score {
        font-size: 30px;
    }

}